<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="~/Admin/FieldPage.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  <system.web>
    <authorization>
      <allow roles="Admin"/>
      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>
