<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="AkDbEntities" connectionString="metadata=res://*/Entity.EntityDataModel.csdl|res://*/Entity.EntityDataModel.ssdl|res://*/Entity.EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\AccountingKnowledgeDB.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>