#mainMenu
{
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 0;
    padding-left: 8px;
    margin-left: 5px;
}

#mainMenu  a.static.selected
{
    color: #FFF !important
}

#mainMenu ul
{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
#mainMenu ul li
{
    position: relative;
    display: -moz-inline-box;
    display:inline-block;
    line-height: 30px;
    margin-left: -5px;
    margin-right: -5px;
    padding: 0;
    vertical-align: top;
}
#mainMenu ul li a
{
    padding: 0 5px;
    color: #CCC;
    text-decoration: none !important;
    font: 13px/30px Arial,sans-serif;
    margin: 0;
}

#mainMenu ul li
{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin: 0;
    position: relative;
}
#mainMenu ul li:hover
{
    background-color: #4a4a4a;
}