<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="AkDbEntities" connectionString="metadata=res://*/Entity.EntityDataModel.csdl|res://*/Entity.EntityDataModel.ssdl|res://*/Entity.EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\AccountingKnowledgeDB.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <httpModules>
      <add type="BusinessLogic.Error.CustomExceptionHttpModule"  name="CustomExceptionHttpModule"/>
    </httpModules>

    <customErrors defaultRedirect="~/Error/notfound.htm" mode="On">
      <error statusCode="404" redirect="~/Error/filenotfound.htm" />
    </customErrors>

    <pages theme="Main">
      <controls>
        <add src="~/UserControl/Captcha.ascx" tagPrefix="we" tagName="Captcha"/>
        <add src="~/UserControl/ResumeShow.ascx" tagPrefix="we" tagName="ResumeShow"/>
        <add src="~/UserControl/ResumeView.ascx" tagPrefix="we" tagName="ResumeView"/>
        <add src="~/UserControl/DateDropDown.ascx" tagPrefix="we" tagName="DateDropDown"/>
        <add src="~/UserControl/Login.ascx" tagPrefix="we" tagName="Login"/>
        <add src="~/UserControl/Button.ascx" tagPrefix="we" tagName="Button"/>
        <add src="~/UserControl/TextBox.ascx" tagPrefix="we" tagName="TextBox"/>
        <add src="~/UserControl/Search.ascx" tagPrefix="we" tagName="Search"/>
        <add src="~/UserControl/DataPager.ascx" tagPrefix="we" tagName="DataPager"/>
      </controls>
    </pages>

    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms
       loginUrl="Account/Default.aspx"
       name=".AccountingKowledge"
       protection="All"
       timeout="30"
       path="/"
       requireSSL="false"
       slidingExpiration="true">
      </forms>
    </authentication>

    <roleManager enabled="true" defaultProvider="myProvider">
      <providers>
        <add name="myProvider" type="BusinessLogic.Security.ServiceRoleProvider"/>
      </providers>
    </roleManager>

    <httpHandlers>
      <add verb="*" path="*.igen" type="BusinessLogic.Captcha.ImageGeneratorHandler" />
      <add verb="*" path="*.xmlrep" type="BusinessLogic.Report.XMLReportHandler" />
    </httpHandlers>

    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider"
        description="SiteMap provider which reads in .sitemap XML files."
        type="System.Web.XmlSiteMapProvider"
        siteMapFile="Web.sitemap"
        securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>

    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="CacheMain" duration="30"
           varyByParam="*" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>

  </system.web>
</configuration>